footer {
  position: relative;
  background-color: #292929;
  color: #7b7b7b;
}
footer a{
  color: #7b7b7b;
}
footer div.wrap {
 
  /*! max-width: 100%; */
  padding-top: 46px;
}
footer div.wrap ul.fnb {
  justify-content: space-between;
  margin-bottom: 30px;
}
footer div.wrap ul.fnb li {
  
}
footer div.wrap ul.fnb li h2{
  
}
footer div.wrap ul.fnb li h2 a{
  
  color: white;
}
footer div.wrap ul.fnb li ul.sublist{
  margin-top: 20px;
  font-size: 14px;
}
footer div.wrap ul.fnb li:nth-child(1) ul.sublist{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-flow: column;
  column-gap: 9px;
}
footer div.wrap ul.fnb li a {
  line-height: 1.4;
  display: block;
}
footer div.wrap ul.fnb li:nth-child(4) a{

}
footer div.wrap ul.fnb2{
  justify-content: center;
  font-size: 13px;
  height: 50px;
  margin-bottom: 40px;
}
footer div.wrap ul.fnb2::before{
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid;
  position: absolute;
  left: 0;
}
footer div.wrap ul.fnb2 li{
  /*! width: 100%; */
  position: relative;
}
footer div.wrap ul.fnb2 li:nth-child(5),
footer div.wrap ul.fnb2 li:nth-child(6),
footer div.wrap ul.fnb2 li:nth-child(8),
footer div.wrap ul.fnb2 li:nth-child(9){
 display: none;
}
footer div.wrap ul.fnb2 li:nth-child(n+2):nth-child(-n+7)::before{
  content: "";
  display: inline-block;
  height: 7px;
  border-left:1px solid;
  position: absolute;
  left: 0;
  top: calc(50% - 7px / 2);
}
footer div.wrap ul.fnb2 li:nth-child(8){
  border-left: 1px solid;
  border-right: 1px solid;
}
footer div.wrap ul.fnb2 li a{
  display: block;
  height: 100%;
  /*! line-height: 50px; */
  /*! line-height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 23px;
}
footer div.wrap ul.fnb2 li:nth-of-type(1) a{
  
  color: #29BFFF;
}
footer div.wrap ul.fnb2::after{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid;
  position: absolute;
  left: 0;
  transform: translateY(50px);
}
footer div.wrap address {
 
  text-align: center;
}
footer div.wrap address a {
  
}
footer div.wrap p.copyright {
  
  text-align: center;
}
footer div.wrap div.corp {
 
}
footer div.wrap div.corp h2 {
  
}
footer div.wrap div.corp ul {
  
}
footer div.wrap div.corp ul li {
  
}
footer div.wrap div.corp ul li a {
  
  /*! display: flex; */
  /*! flex-direction: column; */
  /*! align-items: center; */
}
footer div.wrap div.corp ul li a::before{
  content: "";
 
}
footer div.wrap div.corp ul li:nth-child(1) a::before {
 
}
footer div.wrap div.corp ul li:nth-child(2) a::before {

}
footer div.wrap div.corp ul li:nth-child(3) a::before {
 
}
footer .btop{
  position: absolute;
  right: 293px;
  top: -43px;
  color: white;
  font-size: 14px;
  opacity: 0;
  transition: 0.5s;
}
footer .btop::before{
  content: "";
  height: 43px;
  display: inline-block;
  border-left: 3px solid #fff;
  vertical-align: -23px;
  margin-right: 4px;
}
footer .btop.topFix::before{
  
  border-color: black;
}
footer .btop::after{
  content: "";
  height: 20px;
  display: block;
  border-left: 3px solid white;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
footer .btop.topFix::after{
  border-color: black;
}

.topFix{
  position: fixed !important;
  bottom: 0;
  z-index: 1;
  top: auto !important;
  color: black !important;
  opacity: 1 !important;
}








