footer {

  background-color: #292929;
  position: relative;
  color: #BDBDBD !important;
}
footer a{
color: #BDBDBD !important;
}
footer div.wrap {
 
}
footer div.wrap ul.fnb {
  justify-content: space-between;
}
footer div.wrap ul.fnb li{
  justify-content: space-between;
}
footer div.wrap ul.fnb li:first-child {

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
}
footer div.wrap ul.fnb li:nth-child(1) h2{
  grid-column: 1 / span 2;
}
footer div.wrap ul.fnb>li:not(:first-child){
 
}
footer div.wrap ul.fnb li h2{
 
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 17px;
}
footer div.wrap ul.fnb li h2 a{
  color: white;
  font-weight: lighter;
  font-size: 14px;
}

footer div.wrap ul.fnb li ul{
  padding: 0px 60px;
}
footer div.wrap ul.fnb li ul.sublist1{
 
}
footer div.wrap ul.fnb li ul.sublist2{
 
}
footer div.wrap ul.fnb li ul.sublist5{
  
}
footer div.wrap ul.fnb ul.sublist6{

}
footer div.wrap ul.fnb li a {
  color: #6a6a6a;
  font-size: 13px;
 
  line-height: 29px;
}
footer div.wrap ul.fnb ul.sublist5 li a{

}

footer div.wrap ul.fnb2 { 
 
  font-size: 12px;
 
  height: 50px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
footer div.wrap ul.fnb2 li{

}

footer div.wrap ul.fnb2 li:first-child{
  padding-left:0px;
}

footer div.wrap ul.fnb2 li:nth-child(n+2):nth-child(-n+7)::before{
  content:"";
  display: inline-block;
  height: 7px;
  border-left: 1px solid #343434;
  position: absolute;
  left: 0px;
  top: calc(50% - 7px / 2);
  right: 0;
}
  
footer div.wrap ul.fnb2 li:nth-child(8){
   border-left: 1px solid #343434;
  border-right:1px solid #343434;
}
footer div.wrap ul.fnb2 li select{
  background-color: #292929;
  padding: 9px;
  font-size: 12px;
  font-weight: bold;
  color: #adadad;
  border: 1px solid transparent;
}
footer div.wrap ul.fnb2 li select#first{
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  padding: 0 24px;
  height: 32px;
}

footer div.wrap ul.fnb2 li a{
  color:#7b7b7b;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
}
footer div.wrap ul.fnb2 li:nth-of-type(1) a{
  color: #4094FF !important;
}
footer div.wrap ul.fnb2::before {
  content:"";
  display: block;
  width: 100%;
  border-top:1px solid #343434;
  position: absolute;
  left: 0;
  transform: translateY(-15px);
  right: 0;
}
footer div.wrap ul.fnb2::after {
  content:"";
  display: block;
  width: 100%;
  border-top:1px solid #343434;
  position: absolute;
  left: 0;
  transform: translatey(15px);
}
footer div.wrap address {
  color: #7b7b7b;
  font-size: 12px;
  text-align: center;
}
footer div.wrap address a {
  
}
footer div.wrap p.copyright {
  
  font-size: 12px;
  line-height: 45px;
  text-align: center;
}
footer div.wrap div.corp {
 
}
footer div.wrap div.corp h2 {
  
}
footer div.wrap div.corp ul {
  
}
footer div.wrap div.corp ul li {
  
}
footer div.wrap div.corp ul li a {
  
  /*! display: flex; */
  /*! flex-direction: column; */
  /*! align-items: center; */
}
footer div.wrap div.corp ul li a::before{
  content: "";
 
}
footer div.wrap div.corp ul li:nth-child(1) a::before {
 
}
footer div.wrap div.corp ul li:nth-child(2) a::before {

}
footer div.wrap div.corp ul li:nth-child(3) a::before {
 
}
footer .btop{
  position: absolute;
  top: -11%;
  right: 17%;
  font-size: 12px;
  color: #004cad !important;
  opacity: 0;
  transition: 0.5s;
}
footer .btop::before{
  content:"";
  height: 62px;
  display: inline-block;
  border-right: 3px solid white;
  vertical-align: -23px;
  margin-right: 4px;
  transition:0.5s;
}
footer .btop::after{
  content:"";
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  transform-origin: 0 0;
  border-left: 3px solid white;
  transition:0.5s;
}
footer .btop:hover::before{
  transform:translateY(-15px);
  height: 75px;
}
footer .btop:hover::after{
  transform:translateY(-15px) rotate(45deg);
}

.topFix{
  position: fixed !important;
  bottom: 0;
  z-index: 1;
  top:  auto !important;
  opacity: 1 !important;
}

@keyframes topB{
  100%{
    transform: translatey(30%);
  }
}
footer .btop.topFix::before{
  border-color: black;
}

footer .btop.topFix::after{
  border-color:black;
}