section#greeting{

}
section#greeting .wrap{

}
.breadcrumb{
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.breadcrumb::before{
  content:"";  
  width: 100%;
  height: 30px;
  background-color: #0f60fb;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 93px;
}
.breadcrumb li{
  color: #2ae3ec;
  font-size: 90%;
}
.breadcrumb li a{
  line-height: 1.5;
  padding: 0 10px;
  color: #c0d2fc;
}
.breadcrumb li:first-child a{
  
  font-size: 0;
  background-image: url(../img/home.png);
  display: block;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}
.underC{
   
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.underC img{
  width: 500px;
}
section#greeting .bottom{
   
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#greeting .bottom .upper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#greeting .bottom .upper h2{

  font-size: 60px;
  font-weight: 300;
  line-height: 2;
}
section#greeting .bottom .upper p{
  color:#666666;

}

section#greeting .grid{
   
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  display: grid;
  padding-bottom: 46px;
}
section#greeting .bottom img{
  grid-row: 1 / span 3;
  justify-self: end;
  margin-right: 33px;
}
section#greeting .bottom .textB{

  color: #1e51a2;
  font-weight: 500;
}
section#greeting .bottom p.textU{
   color:#1e51a2;
   font-weight: 500;
   margin-bottom: 30px;
}
section#greeting .bottom p.textU::before{
   content:"";
   background-image:url(../img/h_ceo.png);
   width: 447px;
   height: 160px;
   display: block;
   margin-bottom: 34px;
   margin-top: 25px;
}
section#greeting .bottom p.textL{
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  color: #838383;
  line-height: 1.5;
  font-size: 14px;
}