
header {
  position: relative;
}

.headerFix{
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  top: 0;
  animation-name:down;
  animation-duration:0.5s;
  animation-direction:reverse;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes down{
  100%{
    top:-80px;
  }
}

@keyframes headerdown{
  0%{
    transform: translateY(-40px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
header .wrap {
 
}
@keyframes widthfull{
  100%{
    width: 100%;
  }
}
header .wrap nav {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-template-rows: 40px auto;
}

header.headerFix .wrap nav{
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
header .wrap nav h1 {
  grid-column: 1 / span 2;
  justify-self: center;
  line-height: 2;
}

header.headerFix .wrap nav h1{
  grid-column: 1;
  justify-self: left;
}
header .wrap nav h1::before{
 content: "";  
 
}
header .wrap nav h1:hover::before{
}
header .wrap nav h1 a {
  font-size: 0;
  background-image: url(../img/logo_top.png);
  display: block;
  width: 93px;
  height: 25px;
  margin: 15px 0;
}

header .wrap nav h1 a::after{
  content:"";
  background-color: #f8f4f4;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  height: 50px;
  z-index: -1;
  top: 0;
}

header.headerFix .wrap nav h1 a::after{
  background-color: transparent;
}
header .wrap nav h1 a span {
 
}
header .wrap nav ul.gnb {
  display: flex;
  font-size: 13px;
  padding: 10px 0;
}
header.headerFix .wrap nav ul.gnb{
  justify-self: center;
}
header .wrap nav ul.gnb li {
  
}
header .wrap nav ul.gnb li a {
  padding: 5px 30px;
}
header .wrap nav ul.gnb li:first-child a{
  padding-left: 0px;
}
header .wrap nav ul.gnb li a:hover{
 
}

/* 기타메뉴 */
header .wrap nav ul.enb {
  display: flex;
  font-size: 10px;
  justify-self: end;
}
header.headerFix .wrap nav ul.enb{
  
}
header .wrap nav ul.enb li {
  padding: 0 10px;
}
header .wrap nav ul.enb li:last-child{
 padding-right:0px; 
} 
header .wrap nav ul.enb li a {
 
  padding: 3px 4px;
  border-bottom: 1px solid #ccc;
}
header .wrap nav ul.enb li a:hover {

}
header .wrap nav ul.enb li:nth-child(1) a::after
,header .wrap nav ul.enb li:nth-child(2) a::after{
 
}
/* wgnb */
header .wrap nav .wgnb{
  display: block;
  width: 80%;
  height: 100vh;
  position: absolute;
  left: -80%;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  transition: 1s;
}

.wgnbShow{
  left:0% !important;
}


header .close{
  background-image: url(../img/close.svg);
  width: 32px;
  height: 32px;
  transform: translatex(-7px) translatey(-4px);
  background-size: contain;
}
header .wrap nav .wgnb .wsub{
  padding-right: 30px;  
}
header .wrap nav .wgnb h2{
  display: block;
  cursor: pointer;
  font-size: 19px;
  line-height: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
}

.currenH2{
  color:blue;
}

header .wrap nav .wgnb h2::after{
  content:"";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/arrow_down.svg);
}

header .wrap nav .wgnb h2.currenH2::after{
  transform: rotate(-180deg);
}
header .wrap nav .wgnb ul{
  text-align: left;
  display: none;
  background-color: #eee;
  margin-right: -50px;
  margin-left: -20px;
  padding-left: 50px;
}

header .wrap nav .wgnb ul li{
  background-color: #eee;
}

header .wrap nav .wgnb ul li a{
  display: block;
  line-height: 3;
}
header .wrap nav .wgnb ul li:not(:first-child) a{
  border-top: 1px solid #ccc;
}

